<header class="header">
  <nav class="header__nav wrapper">
  <div class="header__box-left">
    <div class="header__logo">
      <a (click)="onHomePage()"><h1>BookSphere</h1></a>
    </div>
  </div>
  <div class="header__box-right">
    <ul class="header__links">
      <li class="header__links-item">
        <a class="link" routerLink="/addBook">Add Book</a>
      </li>
      <li class="header__links-item">
        <a class="link" href="">Books</a>
      </li>
      <li class="header__links-item">
        @if(isLoggedIn){
          <a class="link" href="">Log out</a>
        } @else {
        <a class="link" href="">Log in</a>
        }
      </li>
      <li class="header__links-item">
        <a class="link" href="">Sign Up</a>
      </li>
    </ul>
  </div>
  </nav>
</header>
