footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 2.5rem;
  max-height: 5.5rem;
  font-size: 1.4rem;
  color: #EDE7E3;
  background-color: #4d4d4d;
}
