<section class="account">
  <h2 class="heading">My account</h2>
  <div class="user-view">
    <nav class="user-view__menu">
      <ul class="menu">
        <li class="menu-item">
          <a href="">
            <div class="menu-item--left">
              <span class="icon material-symbols-outlined">orders</span>
              <p>My orders</p>
            </div>
            <span class="icon material-symbols-outlined">chevron_right</span>
          </a>
        </li>
        <li class="menu-item">
          <a href="">
            <div class="menu-item--left">
              <span class="icon material-symbols-outlined">reviews</span>
              <p>My reviews</p>
            </div>
            <span class="icon material-symbols-outlined">chevron_right</span>
          </a>
        </li>
        <li class="menu-item">
          <a href="">
            <div class="menu-item--left">
              <span class="icon material-symbols-outlined">assignment_return</span>
              <p>Complains & returns</p>
            </div>
            <span class="icon material-symbols-outlined">chevron_right</span>
          </a>
        </li>

        <li class="menu-item">
          <a href="">
            <div class="menu-item--left">
              <span class="icon icon-account material-symbols-outlined">account_circle</span>
              <div>
                <p>Account settings</p>
              </div>
            </div>
            <span class="icon material-symbols-outlined">chevron_right</span>
          </a>
        </li>
      </ul>
      @if (userData()?.role === "user") {
      <div class="admin-nav">
        <h5 class="heading-second">Admin settings</h5>
        <ul class="menu">
          <hr />
          <li class="menu-item">
            <a href="">
              <div class="menu-item--left">
                <span class="icon material-symbols-outlined">menu_book</span>
                <p>Manage books</p>
              </div>
              <span class="icon material-symbols-outlined">chevron_right</span>
            </a>
          </li>
          <li class="menu-item">
            <a href="">
              <div class="menu-item--left">
                <span class="icon material-symbols-outlined">group</span>
                <p>Manage users</p>
              </div>
              <span class="icon material-symbols-outlined">chevron_right</span>
            </a>
          </li>
          <li class="menu-item">
            <a href="">
              <div class="menu-item--left">
                <span class="icon material-symbols-outlined">reviews</span>
                <p>Manage reviews</p>
              </div>
              <span class="icon material-symbols-outlined">chevron_right</span>
            </a>
          </li>
          <hr />
        </ul>
      </div>
      }
      <ul class="menu">
        <li class="menu-item">
          <button (click)="onLogOut()">Log out</button>
        </li>
      </ul>
    </nav>
    <div class="user-view__content">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>