@import "mixins";
@import "colors";

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 83vh;
  background-color: #f4f4f4;
  padding: 1em;

  h2{
    position: relative;
    margin-bottom: 1.5em;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 0.3s ease;
    &::after {
      content: '';
      width: 60px;
      height: 4px;
      background-color: $sphere-main;
      display: block;
      margin: 0.5rem auto 0;
      border-radius: 2px;
    }

    &:hover {
      color: $sphere-main;

    }
  }

  &__box {
    background-color: $white;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;

    @include respons(small) {
      padding: 2.5em;
      max-width: 500px;
    }

    @include respons(medium) {
      padding: 3em;
      max-width: 600px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1em;

    label {
      font-size: 1.4rem;
      color: #333;
    }

    input {
      position: relative;
      padding: 0.8em;
      font-size: 1.4rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 100%;

      &.ng-touched.ng-invalid {
        border-color: $sphere-error;
        background-color: $sphere-error-bg;
      }

      &.ng-touched.ng-valid{
        border-color: $sphere-success;
        background-color: $sphere-success-bg;
      }
    }

    .error {
      padding-top: 0.2em;
      font-size: 1.4rem;
      color: #e74c3c;

    }

    button {
      padding: 0.8em;
      background-color: $sphere-main;
      color: #fff;
      font-size: 1.6rem;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:disabled {
        background-color: #ccc;
        color: #fff;
        cursor: not-allowed;
        opacity: 0.6;
      }

      &:not(:disabled):hover {
        background-color: $sphere-purple;
      }
    }
  }

  a {
    display: block;
    margin-top: 1em;
    text-align: center;
    font-size: 1.4rem;
    color: $sphere-cta;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
