@import "mixins";

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 83vh;
  background-color: #f4f4f4;
  padding: 1em;

  &__box {
    background-color: #fff;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;

    @include respons(small) {
      padding: 2.5em;
      max-width: 500px;
    }

    @include respons(medium) {
      padding: 3em;
      max-width: 600px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1em;

    label {
      font-size: 1.4rem;
      color: #333;
    }

    input {
      position: relative;
      padding: 0.8em;
      font-size: 1.4rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      width: 100%;

      &.ng-touched.ng-invalid {
        border-color: #e74c3c;
        background-color: #fdecea;
      }

      &.ng-touched.ng-valid{
        border-color: #2ecc71;
        background-color: #eafaf1;
      }
    }

    .error {
      padding-top: 0.2em;
      font-size: 1.4rem;
      color: #e74c3c;

    }

    button {
      padding: 0.8em;
      background-color: #008080;
      color: #fff;
      font-size: 1.6rem;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:disabled {
        background-color: #ccc;
        color: #fff;
        cursor: not-allowed;
        opacity: 0.6;
      }

      &:not(:disabled):hover {
        background-color: #9b59b6;
      }
    }
  }

  a {
    display: block;
    margin-top: 1em;
    text-align: center;
    font-size: 1.4rem;
    color: #007bff;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
