$sphere-main: #008080;
$sphere-second: #28a745;
$sphere-bg: #f9f9f9;
$white: #f6f5f5;
$sphere-cta: #007bff;
$sphere-grey: #4d4d4d;
$sphere-purple: #9b59b6;
$sphere-error: #e74c3c;
$sphere-error-bg: #fdecea;
$sphere-success: #2ecc71;
$sphere-success-bg: #eafaf1;
$sphere-dark-blue: #0056b3;
$sphere-gold: #f39c12;
$sphere-dark: #9a9898;
