// Mixin to handle responsiveness

$xsmall: 320px;
$small: 480px;
$medium: 650px;
$large: 768px;
$xlarge: 950px;
$xxlarge: 1320px;
$desk: 1550px;
$xdesk: 1650px;


@mixin respons($breakpoint) {
  @if $breakpoint == xsmall {
    @media (min-width: $xsmall) { @content; }
  }
  @if $breakpoint == small {
    @media (min-width: $small) { @content; }
  }
  @if $breakpoint == medium {
    @media (min-width: $medium) { @content; }
  }
  @if $breakpoint == large {
    @media (min-width: $large) { @content; }
  }
  @if $breakpoint == xlarge {
    @media (min-width: $xlarge) { @content; }
  }
  @if $breakpoint == xxlarge {
    @media (min-width: $xxlarge) { @content; }
  }
  @if $breakpoint == desk {
    @media (min-width: $desk) { @content; }
  }
  @if $breakpoint == xdesk {
    @media (min-width: $xdesk) { @content; }
  }

}
