<div class="product" (click)="onBook(book()._id, book().slug)">
    <div class="product__image">
        <img [src]="book().photoUrl" alt="Here should be an image of book">
    </div>
    <div class="product__info">
        <h4 class="product__title">{{ book().title }}</h4>
        <p class="product__author">by <i>{{ book().author }}</i></p>
        <div class="product__info-bottom">
            <p class="product__category"><span class="icon material-symbols-outlined">
              menu_book
            </span> {{ book().category }}</p>
            <div class="product__rating-price-box">
                <app-star-rating [stars]="book().ratingsAverage"></app-star-rating>
                <p class="product__price">
              <span class="icon material-symbols-outlined">
                payments
              </span> {{ book().price | currency:'USD':'symbol' }}
                </p>
            </div>
        </div>

        <div class="product__add-to-cart">
            @if (user().role !== 'admin') {
                <a class="add-btn" (click)="onBookEdit(book()._id, $event)">Edit Book</a>
                <a class="add-btn delete-btn" (click)="onBookDelete(book()._id, $event)">Delete Book</a>
            } @else {
                <a class="add-btn" (click)="onAddToCart(book()._id, book().slug, $event)">Add to cart</a>
                <a class="buy-btn">Buy now</a>
            }

        </div>
    </div>
</div>