<section class="cart">

  <div class="cart__content">
    <h2>BookSphere Cart</h2>
  <div class="cart__item">
    <img src="" alt="Book image" class="Book Image">
    <p><b>Book Title</b></p>
    <p>Price $15.30</p>
    <p>1</p>
  </div>
  <div class="cart__item">
    <img src="" alt="Book image" class="Book Image">
    <p><b>Book Title</b></p>
    <p>Price $15.30</p>
    <p>1</p>
  </div>
  <div class="cart__item">
    <img src="" alt="Book image" class="Book Image">
    <p><b>Book Title</b></p>
    <p>Price $15.30</p>
    <p>1</p>
  </div>
  <div class="cart__item">
    <img src="" alt="Book image" class="Book Image">
    <p><b>Book Title</b></p>
    <p>Price $15.30</p>
    <p>1</p>
  </div>
  <div class="cart__sum"><p>SUM: $105.40</p></div>
    <a href="">Confirm Payment</a>
    </div>
</section>
