<div class="reviews__box">
    <div class="reviews__box-content">
        @if (isMyReview) {
            <div class="reviews__box-btn">
                <button class="editBtn" (click)="onReviewEdit()" [disabled]="!isLoggedIn">
                    <span class="icon material-symbols-outlined">edit_square</span>
                </button>
                <button class="deleteBtn"
                        (click)="onReviewDelete()"><span class="icon material-symbols-outlined">close</span></button>
            </div>
        }
        <p class="review-text">{{ review().review }}</p>
    </div>
    <div class="reviews__box-data">
        <div>
            <p class="reviews__box-rating">{{ review().rating }} / 5</p>
            <p class="reviews__box-author">{{ review().user.name }}</p>
        </div>
        <p class="reviews__box-date">{{ review().updatedAt | date: 'short' }}</p>
    </div>
</div>