<section class="login">
    <h2>Reset Password</h2>
    <div class="login__box">
        <form method="POST" class="login__form" [formGroup]="resetForm" (ngSubmit)="resetSubmit()">
            <label for="password">Password: </label>
            <input type="password" id="password" formControlName="password">
            @if (!resetForm.controls['password'].untouched && resetForm.controls['password'].invalid) {
                @if (resetForm.controls['password'].errors?.['required']) {
                    <p class="error">Password is required!</p>
                } @else if (resetForm.controls['password'].errors?.['password']) {
                    <p class="error">Please enter a valid password!</p>
                }
            }

            <label for="confirmPassword">Confirm Password: </label>
            <input type="password" id="confirmPassword" formControlName="confirmPassword">
            @if (!resetForm.controls['confirmPassword'].untouched && resetForm.controls['confirmPassword'].invalid) {
                @if (resetForm.controls['confirmPassword'].errors?.['required']) {
                    <p class="error">Password confirmation is required!</p>
                } @else if (resetForm.controls['confirmPassword'].errors?.['confirmPassword']) {
                    <p class="error">Please enter a valid password confirmation!</p>
                }
            }

            @if (errMsg) {
                <p class="error">{{ errMsg.error.message }}</p>
            }
            @if (successMsg) {
                <p class="success">{{ successMsg }}</p>
            }
            <button [disabled]="resetForm.invalid">Reset Password</button>
        </form>
    </div>
</section>
