<h3 class="heading">Orders</h3>
<nav class="menu">
  <ul class="orders-list">
    <li class="orders-list__item">
      <a href="">
        <div class="orders-list__item--left">
          <p class="status">Pending</p>
          <div class="orders-list__item-data">
            <p>1 grudnia 2023</p>
            <p>nr 70005435</p>
          </div>
          <p class="price">$155.4</p>
        </div>
        <div class="orders-list__item--right">
          <img alt="An image of book" />
          <div class="book-data">
            <p class="title">Descent</p>
            <p class="author">Tom ddsad</p>
          </div>
        </div>
      </a>
    </li>
  </ul>
</nav>
