<section class="login">
    <h2>Forgot Password</h2>
    <div class="login__box">
        <form method="POST" class="login__form" [formGroup]="forgotForm" (ngSubmit)="forgotSubmit()">
            <label for="email">Email: </label>
            <input type="email" id="email" formControlName="email">
            @if (!forgotForm.controls['email'].untouched && forgotForm.controls['email'].invalid) {
                @if (forgotForm.controls['email'].errors?.['required']) {
                    <p class="error">Email is required!</p>
                } @else if (forgotForm.controls['email'].errors?.['email']) {
                    <p class="error">Please enter a valid email address!</p>
                }
            }

            @if (errMsg) {
                <p class="error">{{ errMsg.error.message }}</p>
            }
            @if (successMsg) {
                <p class="success">{{ successMsg }}</p>
            }
            <button [disabled]="forgotForm.invalid">Send Email</button>
        </form>
        <a (click)="onLogIn()">Already have an account? Log in.</a>
    </div>
</section>
