<section class="reviews">
  @if(isLogged){
    <form method="POST" class="reviews__new-review">
     <textarea  placeholder="Your review"></textarea>
      <button class="reviews__btn-add" type="submit">Add review</button>
    </form>
  }
  @for(review of reviews; track review._id){
    @if(book){
    <div class="reviews__box">
      <div class="reviews__box-content">
        <p>{{review.review}}</p>
      </div>
      <p class="reviews__box-rating">{{review.rating}} / 5</p>
      <div class="reviews__box-data">
        <p class="reviews__box-author">{{review.user.name}}</p>
        <p class="reviews__box-date">{{review.createdAt | date: 'short'}}</p>
      </div>
    </div>
  }
  }
</section>
