<!--        <div class="user-view__content">-->
<!--            <div class="user-view__form-container">-->
<!--                <h2 class="heading-secondary">Your account settings</h2>-->
<!--                <form method="post" class="form form-user-data">-->
<!--                    <div class="form__group">-->
<!--                        <label class="form__label" for="name">Name</label>-->
<!--                        <input class="form__input" id="name" type="text" value="Dawid Garncarz" required>-->
<!--                    </div>-->
<!--                    <div class="form__group">-->
<!--                        <label class="form__label" for="email">Name</label>-->
<!--                        <input class="form__input" id="email" type="email" value="dawidg@booksphere.io" required>-->
<!--                    </div>-->
<!--                    <div class="form__group right">-->
<!--                        <button type="submit">Save settings</button>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
<!--            <div class="line">&nbsp;</div>-->
<!--            <div class="user-view__form-container">-->
<!--                <h2 class="heading-secondary">Password change</h2>-->
<!--                <form method="post" class="form form-user-settings">-->
<!--                    <div class="form-group">-->
<!--                        <label class="form__label" for="password-current">Current password</label>-->
<!--                        <input id="password-current" class="form__input" type="password" placeholder="*******"-->
<!--                               required minlength="7">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label class="form__label" for="password-confirm">Confirm password</label>-->
<!--                        <input id="password-confirm" class="form__input" type="password" placeholder="*******"-->
<!--                               required minlength="7">-->
<!--                    </div>-->
<!--                    <div class="form__group right">-->
<!--                        <button class="btn">Save password</button>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--</section>-->
@if (isMobile) {
<app-mobile-account [userData]="userData"></app-mobile-account>
} @else {
<app-desktop-account [userData]="userData"></app-desktop-account>
}