@import "mixins";
@import "colors";

::ng-deep {
  .p-tooltip-text {
    font-size: 1.4rem;
  }
}

:host{
  display: flex;
  justify-content: center;
  align-items: center;
}

.orders-list__item {
  display: flex;
  flex-direction: column;
  list-style: none;
  background-color: $white;
  border-radius: 6px;
  overflow: hidden;
  min-height: 25rem;
  width: 100%;

  @include respons(medium){
    width: 85%;
  } @include respons(xlarge){
    flex-direction: row;
  max-height: 25rem;
  width: 100%;
  }

  &--left,
  &--right {
    padding: 1rem;
  }

  &--left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    background-color: var(--p-neutral-300);
    width: 100%;

    @include respons(large){
      width: 100%;
    }
    @include respons(xlarge){
      width: 40%;
    }

    @include respons(xdesk) {
      padding: 2rem;
    }

    .status {
      color: $sphere-main;
      text-align: center;
      letter-spacing: 2px;
      font-size: 1.6rem;
      font-weight: 700;

      @include respons(xdesk) {
        font-size: 1.9rem;
      }
    }

    .price {
      font-size: 1.7rem;
      text-align: center;

      @include respons(xdesk) {
        font-size: 1.8rem;
      }
    }
  }

  &-data {
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: 300;
    overflow-wrap: break-word;

    p:first-of-type {
      margin-bottom: 1rem;
      font-size: 1.4rem;
      font-weight: 700;

      @include respons(xdesk) {
        font-size: 1.6rem;
      }
    }
  }

  &--right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    width: 100%;
    overflow-y: scroll;
    max-height: 35rem;

    @include respons(medium){
      flex-direction: row;
      flex-wrap: wrap;
    }

    @include respons(xlarge){
      flex-direction: row;
      flex-wrap: nowrap;
      overflow-x: scroll;
      overflow-y: hidden;
    }


     a {
       width: 65%;
    display: flex;
    flex-direction: column;

       @include respons(small) {
         width: 45%;
       }
       @include respons(medium) {
         width: 30%;
       }
  }

    .item-data {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 0.5rem;
      border: 1px solid $sphere-dark;
      border-radius: 6px;
      background-color: $white;
      box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
      min-width: 100px;
      height: 200px;
      aspect-ratio: 3/5;

      .img {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 4px;

      }

      .book-data {
        margin-top: .5rem;

        .title {
          font-weight: bold;
          font-size: 1.2rem;
          margin-bottom: 0.3rem;
        }

        .author {
          font-size: 1rem;
          color: $sphere-grey;
        }
      }
    }
  }

}

